extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1
        = titulo
        span(style="margin-left: 10px;")
          a.w3-btn.w3-round.w3-grey(href='/compositores/registo') +

    br
    .w3-container
      table.w3-table-all
        tr 
          th Id
          th Nome
          th Periodo
          th Ações
        each c in compositores
          tr
            td= c.id
            td
              a(href='/compositores/' + c.id)= c.nome
            td
              each p in periodos
                if c.periodo == p.id
                  a(href='/compositores/' + c.periodo)= p.nome
            td
              a(href='/compositores/edit/' + c.id) [Editar]
              a(href='/compositores/delete/' + c.id) [Apagar]
    br

    footer.w3-container.w3-teal
      address Gerado por EngWeb2024 em #{data}
